@import url('https://fonts.googleapis.com/css?family=Arvo|Oswald|Roboto&display=swap');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

p,
a,
span {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Arvo', serif;
}