@import url('https://fonts.googleapis.com/css?family=Arvo|Oswald|Roboto&display=swap');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    margin: 1rem;
}

p,
a,
span,
li {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    margin: 1rem;
}

.logo {
    font-family: 'Arvo', serif;
}