*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Page setup
@import '_media.scss';
@import '_grid.scss';

// Colors & fonts
@import '_colors.scss';
@import '_fonts.scss';


// Custom styling
@import '_button.scss';

@import '_navigation.scss';
@import '_frontpage.scss';

@import '_om-os.scss';
@import '_konto.scss';
