@import url("https://fonts.googleapis.com/css?family=Arvo|Oswald|Roboto&display=swap");
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 425px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto, 30em))[2] 1fr;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  }
  .grid .content-grid {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.colors {
  background: #F4F4F4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  margin: 1rem;
}

p,
a,
span,
li {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 1rem;
}

.logo {
  font-family: 'Arvo', serif;
}

header .menu-main-navigation-container {
  position: fixed;
  bottom: 0;
  background-color: #000000;
  opacity: 80%;
  width: 100%;
}

header .menu-main-navigation-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .menu-main-navigation-container .menu li {
  list-style-type: none;
}

header .menu-main-navigation-container .menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

header .menu-main-navigation-container .menu li a:active {
  border-bottom: solid 5px #6967CE;
}

@media only screen and (min-width: 768px) {
  header .menu-main-navigation-container {
    position: relative;
    background: rgba(0, 0, 0, 0);
  }
  header .menu-main-navigation-container .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

main .frontpage .frontpage-title {
  color: #6967CE;
  font-size: 30px;
}

main .frontpage .frontpage-subtitle {
  text-align: center;
  color: #6967CE;
  font-size: 85px;
}

main .frontpage .frontpage-subtitle2 {
  margin-top: -2em;
  color: #ffffff;
  font-size: 60px;
}

main .frontpage button {
  display: block;
  background: #6967CE;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding: 1em 3em;
  border: none;
  margin: 1rem auto;
}


.om-os {
  background-color: #F4F4F4;
  padding: 5em;
}

.om-os .form {
  margin: 0 8% 0 8%;
  padding: 0 11% 3% 18%;
  border: 1.5px solid #19AFD0;
  background-color: white;
}
.kontoside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 25px;
  padding-bottom: 120px;
}

.kontoside .konto-oversigt {
  color: #19AFD0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 24%;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 200;
}

.kontoside .konto-boble-et {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr 100px;
      grid-template-rows: 50px 1fr 100px;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  width: 64%;
  margin-left: 24%;
  border-style: solid;
  border-color: #19AFD0;
  border-width: 1px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;

  -webkit-box-shadow: 8px 17px 0px -1px #19AFD0;
          box-shadow: 8px 17px 0px -1px #19AFD0;
}


.om-os .end-para {
  margin-bottom: 10em;
}

.om-os form {
  margin-left: 1rem;
}

.om-os h1 {
  color: #19AFD0;
  font-weight: normal;
  font-size: 35px;
}

.om-os textarea {
  margin-bottom: 1em;
}

.om-os .form h2 {
  color: #19AFD0;
}

.om-os .btn {
  color: white;
  background-color: #19AFD0;
  font-family: 'Oswald', sans-serif;
  margin: 0em;
  padding: 4px 15px;
  text-decoration: none;
  border-radius: 8px;
}
.kontoside .konto-boble-et .konto-profil {
  color: #19AFD0;
  font-size: 21px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.kontoside .konto-boble-et .konto-venstre-liste-et {
  list-style-type: none;
  font-size: 14px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 25%;
  margin-top: 4%;
}

.kontoside .konto-boble-et .konto-venstre-liste-et li {
  margin: 0;
  color: #8E8181;
}

.kontoside .konto-boble-et .konto-venstre-liste-to {
  list-style-type: none;
  font-size: 14px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 4%;
}

.kontoside .konto-boble-et .konto-venstre-liste-to li {
  margin: 0;
  font-weight: bolder;
}

.kontoside .konto-boble-et .konto-rp {
  width: 178px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.kontoside .konto-boble-et .konto-rp a {
  background-color: #19AFD0;
  font-size: 19px;
  height: 62px;
  width: 178px;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
}

.kontoside .konto-boble-to {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr 100px;
      grid-template-rows: 50px 1fr 100px;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  width: 64%;
  margin-left: 2%;
  border-style: solid;
  border-color: #19AFD0;
  border-width: 1px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-shadow: 8px 17px 0px -1px #19AFD0;
          box-shadow: 8px 17px 0px -1px #19AFD0;
}

.kontoside .konto-boble-to .konto-bo {
  color: #19AFD0;
  font-size: 21px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.kontoside .konto-boble-to .konto-kreditkort {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-top: 19%;
  padding-bottom: 50px;
  text-align: right;
  font-weight: bolder;
}

.kontoside .konto-boble-to .konto-skift {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 23%;
  margin-left: 29%;
  padding-bottom: 50px;
  font-weight: bolder;
}

.kontoside .konto-boble-to .konto-aa {
  width: 178px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.kontoside .konto-boble-to .konto-aa a {
  background-color: #19AFD0;
  font-size: 19px;
  height: 62px;
  width: 178px;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;

}
/*# sourceMappingURL=main.css.map */