@import url("https://fonts.googleapis.com/css?family=Arvo|Oswald|Roboto&display=swap");
*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 425px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto, 30em))[2] 1fr;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  }
  .grid .content-grid {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.colors {
  background: #F4F4F4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  margin: 1rem;
}

p,
a,
span,
li {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 1rem;
}

.logo {
  font-family: 'Arvo', serif;
}

header .menu-main-navigation-container {
  position: fixed;
  bottom: 0;
  background-color: #000000;
  opacity: 80%;
  width: 100%;
}

header .menu-main-navigation-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .menu-main-navigation-container .menu li {
  list-style-type: none;
}

header .menu-main-navigation-container .menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

header .menu-main-navigation-container .menu li a:active {
  border-bottom: solid 5px #6967CE;
}

@media only screen and (min-width: 768px) {
  header .menu-main-navigation-container {
    position: relative;
    background: rgba(0, 0, 0, 0);
  }
  header .menu-main-navigation-container .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

main .frontpage .frontpage-title {
  color: #6967CE;
  font-size: 30px;
}

main .frontpage .frontpage-subtitle {
  text-align: center;
  color: #6967CE;
  font-size: 85px;
}

main .frontpage .frontpage-subtitle2 {
  margin-top: -2em;
  color: #ffffff;
  font-size: 60px;
}

main .frontpage button {
  display: block;
  background: #6967CE;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding: 1em 3em;
  border: none;
  margin: 1rem auto;
}

.sc_header {
  max-width: 1920px;
  height: auto;
  margin: auto;
  position: relative;
  background-color: black;
}

.sc_header a {
  background-color: black;
  margin: 0;
  padding: 0;
}

.sc_header a img {
  opacity: 0.85;
}

.sc_header .sc_cover {
  width: 100%;
  height: auto;
}

.sc_header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.sc_header .header-content .site-title {
  font-size: 39px;
  font-family: 'arvo';
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .sc_header .header-content .site-title {
    font-size: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .sc_header .header-content .site-title {
    font-size: 155px;
  }
}

.sc_header .header-content .site-description {
  text-align: end;
  font-family: 'oswald';
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  line-height: 0.05em;
}

@media screen and (min-width: 768px) {
  .sc_header .header-content .site-description {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .sc_header .header-content .site-description {
    font-size: 40px;
  }
}

.sc_header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1em;
}

.sc_header ul li {
  display: inline;
  margin: 0;
  margin-left: 2em;
}

.sc_header ul li a {
  text-decoration: none;
  color: white;
  font-family: 'oswald';
  font-size: 20px;
  font-weight: 300;
  background-color: transparent;
}

.sc_header ul li a:hover {
  border-bottom: solid 5px #6967CE;
}

.mainnav {
  display: none;
}

@media screen and (min-width: 768px) {
  .mainnav {
    display: inline-block;
  }
}

.mobilenav {
  background-color: rgba(0, 0, 0, 0.164);
}

@media screen and (min-width: 768px) {
  .mobilenav {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */