* {
    margin: 0;
    padding: 0;
}

// @media only screen and (min-width: 600px) {
//     .body {
//     display: grid !important;
//     grid-template-columns: 1fr repeat(2, minmax(auto, 1000px)) 1fr !important;
//     }
// }

p {
    background-color: red;
}